<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basket</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/basket-recipe.css" />


</head>

<body>
    <div class="container">
        <nav class="nav">
            <div class="brand-logo-wrapper">
                <a href="#">
                    <img class="brand-logo" src="../img/logo.png" />
                </a>
            </div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <div class="nav-links">
                <ul>
                    <li><a href="base.html" data-content="Main">Main</a></li>
                    <li><a href="fluke.html?page=fluke" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
                    <li><a href="#" data-content="Recipes">Recipes</a></li>
                    <li><a href="#" data-content="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="login-logout">
                <a href="#" data-content="Log in">Log in</a>
                <div class="backslash">/</div>
                <a href="#" data-content="Log out">Log out</a>
            </div>
        </nav>

        <!--            main             -->

        <main class="main container-fluke">
            <div class="div-loader"></div>
            <div class="bannerFluke">
                <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-caption">
                                <q class="bannerQuote">
                           If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.
                        </q>
                                <span class="bannerSpan"> ~~ J.R.R. Tolkien</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption ">
                                <q class="bannerQuote">
                           One cannot think well, love well, sleep well, if one has not dined well.
                        </q>
                                <span class="bannerSpan"> ~~ Virginia Woolf, A Room of One's Own</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <q class="bannerQuote">
                           Ask not what you can do for your country. Ask what’s for lunch.
                        </q>
                                <span class="bannerSpan"> ~~ Orson Welles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
               </a>
               <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
               </a>
            </div>
         </div>
         <section class="container-basket">
           
            <div class="tab-list-recipe">
                <table id="table--1">
                    <thead>
                        <tr class="tr-th1">
                             <th class="top-menu" colspan="2">
                                <div class="container-top-menu-title">
                                <h3 class="top-menu-title">Recipe title</h3>
                                </th>
                            
                            <th class="top-menu div-button-top-menu">
                                <button class="button button-select-basket">Select all</button>
                                <button class="button button-continue-adding-recipes">Continue adding recipes</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--dodawane za pomoca js !!-->
                        
                    </tbody>
                </table>
                <div class="bottom-menu-basket">
                <button class="button" id="remove-all">Remove all</button>
                <button class="button" id="generate-shopping-list-basket">Generate shopping list</button>
            </div>
            </div>
            


         </section>
      </main>

      <footer class="footer">
         <nav class="footer-nav">
            <ul>
               <li><a href="#" data-content="Main">Main</a></li>
               <li>
                  <a href="#" data-content="I'm feeling lucky">I'm feeling lucky</a>
               </li>
               <li><a href="#" data-content="Recipes">Recipes</a></li>
               <li><a href="#" data-content="Contact">Contact</a></li>
            </ul>
         </nav>
         <div class="footer-text">
            <q>Laughter is brightest where food is best.</q><br />
            Irish Proverb
         </div>
         <nav class="social-media">
            <ul>
               <li>
                  <a href=""><i class="fab fa-facebook"></i></a>
               </li>
               <li>
                  <a href=""><i class="fab fa-pinterest"></i></a>
               </li>
               <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
               </li>
            </ul>
         </nav>
      </footer>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js"></script>
   
   <script type="text/javaScript" src="../scripts/basket-recipe.js"></script>
</body>

</html>