<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fluke</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/fluke.css" />


</head>

<body>
    <div class="container">
        <nav class="nav">
            <div class="brand-logo-wrapper">
                <a href="#">
                    <img class="brand-logo" src="../img/logo.png" />
                </a>
            </div>

            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>

            <div class="nav-links">
                <ul>
                    <li><a href="base.html" data-content="Main">Main</a></li>
                    <li><a href="fluke.html?page=fluke" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
                    <li><a href="#" data-content="Recipes">Recipes</a></li>
                    <li><a href="#" data-content="Contact">Contact</a></li>
                </ul>
            </div>
            <div class="login-logout">
                <a href="#" data-content="Log in">Log in</a>
                <div class="backslash">/</div>
                <a href="#" data-content="Log out">Log out</a>
            </div>
        </nav>

        <!--            main             -->

        <main class="main container-fluke">
            <div class="div-loader"></div>
            <div class="bannerFluke">
                <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Wrapper for slides TODO rozne teksty w zaleeznosci od fluke czy nie-->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="carousel-caption">
                                <q class="bannerQuote">
                           If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.
                        </q>
                                <span class="bannerSpan"> ~~ J.R.R. Tolkien</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption ">
                                <q class="bannerQuote">
                           One cannot think well, love well, sleep well, if one has not dined well.
                        </q>
                                <span class="bannerSpan"> ~~ Virginia Woolf, A Room of One's Own</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-caption">
                                <q class="bannerQuote">
                           Ask not what you can do for your country. Ask what’s for lunch.
                        </q>
                                <span class="bannerSpan"> ~~ Orson Welles</span>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
               </a>
               <a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
               </a>
            </div>
         </div>
         <section class="container-recipe">
            <div class="content-title">
               <h3 id="title-dish"></h3>
            </div>
            <div class="content-dish">
               <div class="content-img">
                  <img id="img-dish" src="" />
               </div>

               <div class="content-list-ingredients">
                  <div>
                     <h3>Ingredients</h3>
                     <div class="list-ingredients-columns">
                        <ul id="list-ingredients"></ul>
                        <ul id="list-ingredients-col2"></ul>
                     </div>
                  </div>
                  <div class="content-generate-list">
                     <button class="button" id="button-generate-list">
                        Generate a shopping list</button>
                  </div>
               </div>
               <div class="content-add-icon">
                  <button id="icon-add-recipe"></button> <!-- TODO logika :D -->
               </div>
            </div>
            <div class="content-description">
               <h3 class="instructions-title">Instructions</h3>
            </div>
            <div class="content-draw-recipe">
               <button class="button" id="button-draw-recipe" style="visibility: hidden;">
                  I'm feeling lucky</button>
            </div>
            <input type="radio" id="radio">
            <label for="radio"></label>

            <!-- h2 tytuł przepisu -->
            <!-- img -->
            <!-- button/icon add to list with recipes-->
            <!-- contents list? -->
            <!-- button generuj liste -->
            <!-- description -->
            <!-- button losuj // fluke-->

         </section>
      </main>

      <footer class="footer">
         <nav class="footer-nav">
            <ul>
               <li><a href="#" data-content="Main">Main</a></li>
               <li>
                  <a href="#" data-content="I'm feeling lucky">I'm feeling lucky</a>
               </li>
               <li><a href="#" data-content="Recipes">Recipes</a></li>
               <li><a href="#" data-content="Contact">Contact</a></li>
            </ul>
         </nav>
         <div class="footer-text">
            <q>Laughter is brightest where food is best.</q><br />
            Irish Proverb
         </div>
         <nav class="social-media">
            <ul>
               <li>
                  <a href=""><i class="fab fa-facebook"></i></a>
               </li>
               <li>
                  <a href=""><i class="fab fa-pinterest"></i></a>
               </li>
               <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
               </li>
            </ul>
         </nav>
      </footer>
   </div>

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.2.0/jspdf.umd.min.js" type="module"></script>
   <script type="text/javaScript" src="../scripts/fluke.js"></script>
</body>

</html>